@model ShadowTracker.Models.ViewModels.DashboardViewModel
@using ShadowTracker.Services.Interfaces
@using Microsoft.AspNetCore.Identity;
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@inject IBTTicketService _ticketServie
@inject IBTTicketHistoryService _ticketHistoryService
@inject UserManager<BTUser> _userManager
@inject IBTNotificationService _notificationService
@inject IBTRolesService _rolesService
@{
    BTUser user = await _userManager.GetUserAsync(User);
    ViewData["Title"] = "Archer | Dashboard";
    int notifications = (await _notificationService.GetReceivedNotificationsAsync(user.Id)).Count();
    List<TicketHistory> history = new();
    foreach (Ticket ticket1 in Model.Tickets)
    {
        foreach (TicketHistory ticketHistory in ticket1.History)
        {
            history.Add(ticketHistory);
        }
    }

    var today2 = DateTime.Now;
}
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-xl-3 col-lg-6">
            <div class="card o-hidden border-0">

                <div class="bg-primary b-r-4 card-body">
                    <div class="media static-top-widget">
                        <div class="align-self-center text-center"><i data-feather="database"></i></div>
                        <div class="media-body">
                            <span class="m-0">Projects</span>
                            <h4 class="mb-0 counter">@Model.Projects.Count()</h4><i class="icon-bg" data-feather="database"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3 col-lg-6">
            <div class="card o-hidden border-0">

                <div class="bg-secondary b-r-4 card-body">
                    <div class="media static-top-widget">
                        <div class="align-self-center text-center"><i data-feather="shopping-bag"></i></div>
                        <div class="media-body">
                            <span class="m-0">Tickets</span>
                            <h4 class="mb-0 counter">@Model.Tickets.Count()</h4><i class="icon-bg" data-feather="shopping-bag"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3 col-lg-6">
            <div class="card o-hidden border-0">
                <div class="bg-primary b-r-4 card-body">
                    <div class="media static-top-widget">
                        <div class="align-self-center text-center"><i data-feather="message-circle"></i></div>
                        <div class="media-body">
                            <span class="m-0">Messages</span>
                            <h4 class="mb-0 counter">@notifications</h4><i class="icon-bg" data-feather="message-circle"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3 col-lg-6 ">
            <div class="card o-hidden border-0 align-self-center">
                <div class="bg-primary b-r-4 card-body">
                    <div class="media static-top-widget">
                        <div class="align-self-center text-center"><i data-feather="user-plus"></i></div>
                        <div class="media-body">
                            <span class="m-0">Memebers</span>
                            <h4 class="mb-0 counter">@Model.MemberCount</h4><i class="icon-bg" data-feather="user-plus"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-6 xl-100 minHeight box-col-12 ">
            <div class="card ">
                <div class="cal-date-widget card-body">
                    <div class="row">
                        <div class="col-xl-6 col-xs-12 col-md-6 col-sm-6">
                            <div class="cal-info text-center">
                                <div class="offset-3">
                                    <h2>@today2.ToString("dd")</h2>
                                    <div class="d-inline-block"><span class="b-r-dark pe-3">@today2.ToString("MMMM")</span><span class="ps-3">@today2.ToString("yyyy")</span></div>
                                    <p class="f-16">Have A Great Day!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-xs-12 col-md-6 col-sm-6">
                            <div class="cal-datepicker">
                                <div class="datepicker-here float-sm-end" data-language="en">           </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-6 box-col-12 des-xl-100   top-dealer-sec">
            <div class="card minHeight">
                <div class="card-header pb-0">
                    <div class="header-top d-sm-flex justify-content-between align-items-center">
                        <h5>Company Members</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="owl-carousel owl-carousel-16  owl-theme" id="owl-carousel-14 ">

                        @foreach (BTUser member in Model.Members)
                        {
                            <div class="item ">
                                <div class="card ">
                                    <div class="top-dealerbox text-center">
                                        <img class="card-img-top" src="../assets/images/dashboard-2/1.png" alt="...">
                                        <h6>@member.FullName</h6>
                                        <p>@((await _rolesService.GetUserRolesAsync(member)).FirstOrDefault())</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div @*class="pagination-layout1"*@>
                        @Html.PagedListPager(Model.Members, page => Url.Action("Dashboard", new { page = page }),
                    new PagedListRenderOptions
                    {
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link" }
                    })



                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col mt-4">
        <div class="row">
            @if (Model.Projects.Count == 0)
            {
                <div class="col-12">
                    <div class="card income-card card-secondary">
                        <div class="card-body align-items-center">
                            <div class="round-progress knob-block text-center">

                                <h5>No Projects Yet</h5>
                                <a class=" btn btn-secondary" asp-action="Create" asp-controller="Projects">Add Project</a>
                            </div>
                        </div>
                    </div>
                </div>

            }
            @foreach (Project project in Model.Projects.Take(1))
            {
                @*Progress bar logic*@

                var start = project.StartDate.Value;
                var end = project.EndDate.Value;
                var today = DateTime.Now;
                var percent = today >= end ? 100 : today < start ? 0 : Math.Round((today.Subtract(start)) / (end.Subtract(start)) * 100);
                <div class="col">
                    <div class="card social-widget-card">
                        <div class="card-body">
                            <div class="redial-social-widget radial-bar-70" data-label="@percent%"><i class="fa fa-clipboard font-primary"></i></div>
                            <h5 class="b-b-light">@project.Name</h5>
                            <div class="row">
                                <div class="col text-center b-r-light">
                                    <span>Tickets</span>
                                    <h4 class="counter mb-0">@project.Tickets.Count</h4>
                                </div>
                                <div class="col text-center">
                                    <span>Memebers</span>
                                    <h4 class="counter mb-0">@project.Members.Count</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>}
            @foreach (Project project1 in Model.Projects.Skip(1).Take(1))
            {
                @*Progress bar logic*@

                var start = project1.StartDate.Value;
                var end = project1.EndDate.Value;
                var today = DateTime.Now;
                var percent = today >= end ? 100 : today < start ? 0 : Math.Round((today.Subtract(start)) / (end.Subtract(start)) * 100);
                <div class="col">
                    <div class="card social-widget-card">
                        <div class="card-body">
                            <div class="redial-social-widget radial-bar-70" data-label="@percent"><i class="fa fa-clipboard font-primary"></i></div>
                            <h5 class="b-b-light">@project1.Name</h5>
                            <div class="row">
                                <div class="col text-center b-r-light">
                                    <span>Tickets</span>
                                    <h4 class="counter mb-0">@project1.Tickets.Count</h4>
                                </div>
                                <div class="col text-center">
                                    <span>Members</span>
                                    <h4 class="counter mb-0">@project1.Members.Count</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @foreach (Project project2 in Model.Projects.Skip(2).Take(1))
            {
                @*Progress bar logic*@

                var start = project2.StartDate.Value;
                var end = project2.EndDate.Value;
                var today = DateTime.Now;
                var percent = today >= end ? 100 : today < start ? 0 : Math.Round((today.Subtract(start)) / (end.Subtract(start)) * 100);
                <div class="col">
                    <div class="card social-widget-card">
                        <div class="card-body">
                            <div class="redial-social-widget radial-bar-70" data-label="@percent"><i class="fa fa-clipboard font-primary"></i></div>
                            <h5 class="b-b-light">@project2.Name</h5>
                            <div class="row">
                                <div class="col text-center b-r-light">
                                    <span>Tickets</span>
                                    <h4 class="counter mb-0">@project2.Tickets.Count</h4>
                                </div>
                                <div class="col text-center">
                                    <span>Members</span>
                                    <h4 class="counter mb-0">@project2.Members.Count</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @foreach (Project project3 in Model.Projects.Skip(3).Take(1))
            {
                @*Progress bar logic*@

                var start = project3.StartDate.Value;
                var end = project3.EndDate.Value;
                var today = DateTime.Now;
                var percent = today >= end ? 100 : today < start ? 0 : Math.Round((today.Subtract(start)) / (end.Subtract(start)) * 100);
                <div class="col">
                    <div class="card social-widget-card">
                        <div class="card-body">
                            <div class="redial-social-widget radial-bar-70" data-label="@percent"><i class="fa fa-clipboard font-primary"></i></div>
                            <h5 class="b-b-light">@project3.Name</h5>
                            <div class="row">
                                <div class="col text-center b-r-light">
                                    <span>Tickets</span>
                                    <h4 class="counter mb-0">@project3.Tickets.Count</h4>
                                </div>
                                <div class="col text-center">
                                    <span>Members</span>
                                    <h4 class="counter mb-0">@project3.Members.Count</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-xl-8 box-col-8">
                <div class="card">
                    <div class="card-header">
                        <div class="header-top d-sm-flex justify-content-between align-items-center">
                            <h5>Company Tickets</h5>
                        </div>
                    </div>
                    <div class="table-responsive" style="overflow-y:auto;height:600px;">
                        <table class="table table-hover">
                            <thead class="">
                                <tr>
                                    @* Table header *@
                                    <th>Title</th>
                                    <th>Developer</th>
                                    <th>Status</th>
                                    <th>Priority</th>
                                    <th>Type</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Tickets.Count == 0)
                                {
                                    <tr>
                                        <td colspan="6" class="text-center">
                                            <p class="text-center">No Tickets Yet.</p>
                                            <a class=" btn btn-secondary " asp-action="Create" asp-controller="Tickets">Add Ticket</a>
                                        </td>
                                    </tr>
                                }
                                @foreach (Ticket ticket in Model.Tickets.Take(9))
                                {
                                    <tr>

                                        <td>@ticket.Title</td>
                                        @if (ticket.DeveloperUser != null)
                                        {
                                            <td>@ticket.DeveloperUser.FullName</td>
                                        }
                                        else if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))

                                        {
                                            <td><a class=" btn btn-warning btn-sm" asp-action="AssignDeveloper" asp-controller="Tickets" asp-route-ticketId="@ticket.ProjectId">Assign Developer</a></td>
                                        }
                                        else
                                        {
                                            <td>Not Assigned</td>
                                        }

                                        <td>@ticket.TicketStatus.Name</td>
                                        <td>@ticket.TicketPriority.Name</td>
                                        <td>@ticket.TicketType.Name</td>
                                        <td>@ticket.Created.ToString("dd/MM/yy")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 des-xl-50 box-col-12 activity-sec chart_data_left">
                <div class="card">
                    <div class="card-header">
                        <div class="header-top d-sm-flex justify-content-between align-items-center">
                            <h5 class="m-0">Activity Timeline</h5>
                        </div>
                        <hr />
                    </div>
                    <div class="card-body">
                        <div class="chart-main activity-timeline update-line">
                            @if (history.Count == 0)
                            {
                                <p>No Activity Yet.</p>
                            }
                            else
                            {

                                @foreach (TicketHistory ticketHistory in history.Take(4).OrderByDescending(t => t.Created))
                                {
                                    <div class="media">
                                        <div class="activity-line"></div>
                                        <div class="activity-dot-primary"></div>
                                        <div class="media-body d-block">
                                            <h6><span class="font-primary">@ticketHistory.Created.ToString("dd-MM-yyyy")</span></h6>
                                            <h5>@ticketHistory.Property</h5>
                                            <p>@ticketHistory.Description</p>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Container-fluid Ends-->